@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

:root {
	--violet: hsl(257, 40%, 49%);
	--softMagenta: hsl(300, 69%, 71%);
	--satMagenta: hsl(315, 85%, 69%);

	--maxPageWidth: min(1300px, 88vw);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-decoration: none;
	/* font-size: 19px; */
	/* flex-shrink: 0; */
	font-family: "Open Sans", sans-serif;
	color: #ffffff;
}

body * {
	overflow: hidden;
}

a {
	/* color: inherit; */
}

img,
svg {
	height: 100%;
	width: 100%;
	object-fit: contain;
}

h1,
h2 {
	font-family: "Poppins", sans-serif;
}

body {
	background-color: var(--violet);
	background-image: url(../images/bg-desktop.svg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 2rem;
	min-height: 100vh;
	padding: 6vh 0;
}

header {
	max-width: var(--maxPageWidth);
	width: 100%;
	height: 3rem;
}

header img {
	object-position: left;
}

main {
	max-width: var(--maxPageWidth);
	width: 100%;
	display: flex;
	/* align-items: center; */
	/* flex-wrap: wrap; */
	/* gap: 3em; */
}

main > * {
	flex: 1;
}

.sideImg {
	max-height: 65vh;
	min-height: 250px;
	/* height: 100%; */
	/* min-width: 405px; */
}

.sideImg img {
	object-position: right;
}

.sideText {
	/* min-width: 405px; */
}

.sideText > div {
	/* min-width: 405px; */
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	justify-content: center;
	padding: 0 0 0 3rem;
	height: 100%;
}

.sideText h2 {
	font-size: 2rem;
}

.sideText .link {
	width: 10rem;
	height: 3rem;
	/* font-size: 0.85rem; */

	display: flex;
	justify-content: center;
	align-items: center;

	background-color: #ffffff;
	color: var(--violet);
	border-radius: 1.5rem;
	box-shadow: 0.2rem 0.3rem 0.5rem rgba(50, 50, 50, 0.5);
}

.sideText .link:hover {
	color: inherit;
	background-color: var(--softMagenta);
}

footer {
	max-width: var(--maxPageWidth);
	width: 100%;
	display: flex;
	justify-content: end;
	gap: 1rem;
	height: 2rem;
}

footer > a {
	border: solid currentColor 1.5px;
	border-radius: 50%;
}

footer svg {
	padding: 25%;
	/* color: inherit; */
}

footer > a:hover *,
footer > a:hover {
	color: var(--satMagenta);
}

@media (max-width: 900px) {
	:root {
		--maxPageWidth: 100vw;
	}

	body {
		padding: 3vh 10vw;
		background-image: url(../images/bg-mobile.svg);
		background-size: contain;
		background-position: top;
	}

	header img {
		/* object-position: center; */
	}

	main {
		flex-direction: column;
	}

	footer {
		justify-content: center;
	}

	.sideImg {
		min-height: auto;
		/* max-height: auto; */
		/* height: 100px; */
		/* height: fit-content; */
		/* max-height: 300px; */
		/* width: 50vw; */
	}

	.sideText > div {
		padding: 2rem 0 0 0;
		gap: 2rem;
		align-items: center;
		text-align: center;
	}

	.sideText h2 {
		font-size: 1.5rem;
	}
}

/* register popup form */
.popUpContainer {
	position: absolute;
	top: 0;
	min-height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	pointer-events: none;
}

.closePopUp {
	position: absolute;
	right: 1.2rem;
	top: 1.2rem;
	width: 2rem;
	height: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	filter: opacity(0.5);
}

.closePopUp > div {
	background-color: rgba(187, 187, 187, 1);
	height: 3px;
	border-radius: 10px;
	width: 2rem;
	transform: rotate(45deg);
	position: absolute;
}

.closePopUp > div:nth-child(1) {
	transform: rotate(-45deg);
}

.popUpBG {
	position: absolute;
	top: 0;
	background-color: rgba(50, 50, 50, 0.5);
	height: 100%;
	width: 100vw;
	z-index: 0;
	pointer-events: all;
}

.popUp {
	position: relative;
	/* top: 0; */
	/* transform: translateY(max(0vh, calc(50vh - 50%))); */
	background-color: var(--violet);
	/* height: 400px; */
	/* width: 300px; */
	z-index: 4;
	pointer-events: all;
}

#popUpToggle:checked ~ .popUpBG,
#popUpToggle:checked ~ .popUp {
	display: none;
}

#popUpToggle {
	display: none;
	/* z-index: 5; */
}

.FormBox ::-webkit-scrollbar {
	width: 8px;
	background-color: var(--violet);
	/* backdrop-filter: ; */
}

.FormBox ::-webkit-scrollbar-thumb {
	background-color: var(--satMagenta);
	border-radius: 5px;
}

.FormBox {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	/* align-items: center; */
	/* color: red; */
	/* border: ; */
	border-radius: 10px;
	max-width: 26rem;
	min-height: 34rem;
	justify-content: space-between;
	padding: 1.2rem;
	margin: 10px;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}

@media (max-width: 360px) {
	.FormBox {
		font-size: 15px;
	}
}

.FormBox h1 {
	font-size: 1.5em;
}

.FormBox h3 {
	font-size: 1em;
	font-weight: normal;
	color: #bbb;
}

.FormBox hr {
	width: calc(100% + ((1.2rem) * 2));
	align-self: center;
	border-color: rgba(187, 187, 187, 0.5);
}

.FormBox .FormLineStyle .InputText {
	background-color: var(--softMagenta);
	padding: 0.5em;
	border-radius: 0.5em;
	border-color: var(--satMagenta);
	border-style: solid;
	border-width: 1px;
	width: 100%;
	font-size: 1em;
}

.FormBox .FormLineStyle .InputText::placeholder {
	color: #555;
}

.FormBox .FormLineStyle .InputText:focus {
	outline: none;
}

.FormBox p {
	font-size: 0.8em;
	color: #bbb;
}

.FormBox a {
	/* font-size: 1em; */
	color: #eee;
}

.FormBox select * {
	background-color: var(--violet);
}

.FormBox select:focus {
	outline: none;
}

.FormBox select {
	padding: 0.5em;
	border-radius: 0.5em;
	border-color: var(--satMagenta);
	background-color: rgba(0, 0, 0, 0.2);
	border-style: solid;
	border-width: 1px;
	width: 100%;
	font-size: 1em;
}

.FormBox .radiobox {
	padding: 0.5em;
	border-radius: 0.5em;
	border-color: var(--satMagenta);
	background-color: rgba(0, 0, 0, 0.2);
	border-style: solid;
	border-width: 1px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	justify-content: center;
	gap: 0.5em;
	width: 100%;
	accent-color: var(--satMagenta);
}
.FormBox .radiobox:hover {
	background-color: var(--softMagenta);
}
.FormBox input[type="radio"]:checked + .radiobox {
	background-color: var(--satMagenta);
}

.FormBox input[type="radio"] {
	display: none;
	/* height: 1.1em; */
	/* width: 1.1em; */
}

.FormLineStyle {
	display: flex;
	justify-content: space-between;
	gap: 0.5em;
}

.SubmitForm {
	width: 11em;
	align-self: center;
	border-radius: 0.5em;
	border-width: 0;
	background-color: var(--satMagenta);
	letter-spacing: 1px;
	padding: 0.5em;
	color: white;
	font-weight: bold;
	box-shadow: 1px 1px 5px rgba(50, 50, 50, 0.5);
}
